<h1>SignUp Page</h1>
 <form action="signup">
        <label for="nombre" aria-required="true">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required>
        <label for="email" aria-required="true">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="password" aria-required="true">Password:</label>
        <input type="password" name="password" id="password" required>
        <label for="confirm" aria-required="true">Password</label>
        <input type="password" name="confirm" id="confirm" required>
        <button type="submit">Sign Up</button>
 </form>